<div class="content-wrapper">
    <section class="content-header">
        <h1>Danh sách người dùng</h1>
    </section>

    <section class="content">
        <div class="row" style="margin-bottom: 15px">
            <div class="col-sm-12 text-right">
                <input type="text"
                       id="keyword"
                       class="form-control"
                       placeholder="Tìm kiếm..."
                       style="width:300px; display:inline-block;" />

                <button class="btn btn-primary" onclick="loadUsers(1)">Tìm</button>
                <b>
                    Hiển thị
                    <select id="pageSize"
                            class="form-control"
                            style="width:90px; display:inline-block; margin-left:15px;"
                            onchange="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    &nbsp;tài khoản
                </b>
            </div>
        </div>

        <div id="userTable">
        </div>

    </section>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadUsers(1);
        });

        function loadUsers(page) {
            $.ajax({
                url: '@Url.Action("LoadUsers", "User", new { area = "Admin" })',
                type: 'GET',
                data: {
                    page: page,
                    keyword: $('#keyword').val(),
                    pageSize: $('#pageSize').val()
                },
                success: function (res) {
                    $('#userTable').html(res);
                }
            });
        }

        function changePageSize() {
            loadUsers(1);
        }

            function goUpdateUser(id) {
            window.location.href = '/Admin/User/UpdateUser/' + id;
        }

        function goDeleteUser(id) {
            if (!confirm('Bạn có chắc muốn xóa người dùng này?'))
                return;

            window.location.href = '/Admin/User/DeleteUser/' + id;
        }

                function toggleLockUser(id) {
            if (!confirm('Bạn có chắc muốn thay đổi trạng thái khóa?')) return;

            $.ajax({
                url: '/Admin/User/ToggleLock',
                type: 'POST',
                data: { id: id },
                success: function () {
                    loadUsers(1); // reload bảng
                },
                error: function () {
                    alert('Có lỗi xảy ra');
                }
            });
        }

    </script>
}
